# Auto detect text files and perform LF normalization
* text=auto

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment folder
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE / Editor folders (optional, but common)
.vscode/
.idea/
*.swp
